.App {
  text-align: center; 
  
}


.choice {
  font-size: 1.5rem;
  text-align: left;
  padding-left: 10%;
  padding-top: 5%;
  margin-bottom: 50px;
  font-weight: lighter;
}
.bg{
  color: aquamarine;
}